.circle-button a.uagb-buttons-repeater{ 
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    border: none !important;
    background: linear-gradient(90deg, #DFF2FE 0%, rgba(253, 243, 254, 0.960784) 100%);
}
.circle-button a.uagb-buttons-repeater:focus{
    outline: none;
}

.circle-button.circle-button-large a.uagb-buttons-repeater .uagb-button__link,
.circle-button.circle-button-small a.uagb-buttons-repeater .uagb-button__link 
{   
    max-width: 100%;
    white-space: nowrap;
    position: relative;
    text-align: center;
    /* left: 45px;  */
    font-family: "montserrat", sans-serif;    
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4A4A4A;
    padding: 0 10px; 
}

/* circle button large */
.circle-button.circle-button-large{
    position: relative;
    width: 232px;
}
.circle-button.circle-button-large a.uagb-buttons-repeater{ 
    width: 180px !important;
    height: 180px !important;
}

/* circle button small */
.circle-button.circle-button-small, 
.circle-button.circle-button-large{
    position: relative;
    width: 196px;
}
.circle-button.circle-button-small a.uagb-buttons-repeater, 
.circle-button.circle-button-large a.uagb-buttons-repeater{ 
    width: 104px !important;
    height: 104px !important;
}

/* At the top level of your code */
@media screen and (min-width: 570px) {
    /* circle button large */
    .circle-button.circle-button-large{
        position: relative;
        width: 196px;
    }
    .circle-button.circle-button-large a.uagb-buttons-repeater{ 
        width: 104px !important;
        height: 104px !important;
    }
  }

.circle-button.circle-button-small a.uagb-buttons-repeater .uagb-button__icon, 
.circle-button.circle-button-large a.uagb-buttons-repeater .uagb-button__icon {
    transform: translate(72px, 8px);
    position: relative;
    z-index: 10;
}

.circle-button.circle-button-small a.uagb-buttons-repeater .uagb-button__icon svg, 
.circle-button.circle-button-large a.uagb-buttons-repeater .uagb-button__icon svg {
    display: none;
}

.circle-button.circle-button-small a.uagb-buttons-repeater .uagb-button__icon:after,
.circle-button.circle-button-large a.uagb-buttons-repeater .uagb-button__icon:after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #4A4A4A;
    border-left: 1px solid #4A4A4A;
    transform: rotate(135deg) translate(5px, 5px);
}

.circle-button.circle-button-small a.uagb-buttons-repeater .uagb-button__icon:before,
.circle-button.circle-button-large a.uagb-buttons-repeater .uagb-button__icon:before{
    content: "";
    display: block;
    width: 136px;
    height: 1px;
    background-color: #4A4A4A;
    left: 0;
    top: 0;
}

.gradient {
    background-image: linear-gradient(90deg, #DFF2FE 0%, rgba(253, 243, 254, 0.960784) 100%);
}

.gradient:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

//new file custom style
.circles {
    position: absolute;
    border-radius: 50%;
    opacity: .8;
    filter: blur(40px);
  }

  /* Yellow Circle */
.yellow {
    background-image: linear-gradient(to right, #fce658 15%, #fce973 85%);
    height: 300px;
    width: 300px;
    left: 5%;
    top: 30%;
    animation: transform 10s linear infinite both alternate, movement 10s linear infinite both;
  }

/* Orange Circle */
.orange {
    background-image: linear-gradient(to right, #ff756e 15%, #fe8b85 85%);
    height: 200px;
    width: 200px;
    left: 25%;
    top: 50%;
    animation: transform 15s linear infinite both alternate, movement 7s linear infinite both;
  }

  /* Pink Circle */
.pink {
    background-image: linear-gradient( to right, #f26afc 15%, #f6a6fc 85%);
    height: 350px;
    width: 350px;
    left: 40%;
    top: 30%;
    animation: transform 13s linear infinite both alternate, movement 13s linear infinite both;
  }

  /* Cyan Circle */
.cyan {
    height: 400px;
    width: 400px;
    left: 60%;
    top: 40%;
    background-image: linear-gradient( to right, #70eafa 15%, #2ae2fa 85%);
    animation: transform 11s linear infinite both alternate, movement 15s linear infinite both;
  }

  /* Animations for Circles */

@keyframes transform {
    0%,
   20% { border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%; } 
   80% { border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%; }
  100% { border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%; } 
}

@keyframes movement
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1.25); }
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {

    /* Styles for tablets and smaller devices */
    .yellow {
      left: 0;
      top: 40%;
      height: 200px;
      width: 200px;
    }
      
    .orange {
      height: 150px;
      width: 150px;
    }
    
    .pink {
      height: 225px;
      width: 225px;
    }
      
    .cyan {
      height: 200px;
      width: 200px;
    }   
  }
  
  @media screen and (max-width: 480px) {
    /* Styles for mobile devices */
    .yellow {
      height: 150px;
      width: 150px;
    } 
      
    .orange {
      height: 100px;
      width: 100px;
    }
      
    .pink {
      height: 175px;
      width: 175px;
    }
      
    .cyan {
      height: 150px;
      width: 150px;
    }
  }
  
/* Secondary Button*/
button-secondary{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: yellow;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 30px;
    background: rgba(0,0,0,0.09);

    &::before, &::after {
        content:"";
        width: 0;
        height: 4px;
        position: absolute;
        transition: all 0.2s linear;
        // background: red;
        background-image: linear-gradient(180deg, #DFF2FE 0%, rgba(253, 243, 254, 0.960784) 100%);
    }
    span {
      display: block;
      padding: 25px 80px;
      &::before, &::after {
        content:"";
        width:4px;
        height:0;
        position: absolute;
        transition: all 0.2s linear;
        // background: green;
        background-image: linear-gradient(180deg, #DFF2FE 0%, rgba(253, 243, 254, 0.960784) 100%);

      }
    }
    &:hover {
        &::before, &:after {
            width: 100%;
        }

        span::before, span::after {
            height: 100%;
        }
    }
  }

//   .btn-3 {
//     &::after {
//         left: 0;
//         bottom: 0;
//         transition-delay: 0.6s;
//     }
//     &::before {
//         right: 0;
//         top: 0;
//         transition-delay: 0.2s;
//     }

//     &:hover {
//         &::after {
//             transition-delay: 0s;
//         }
//         &::before {
//             transition-delay: 0.4s;
//         }
//     }

//     >span {
//         &::after {
//             transition-delay: 0.4s;
//             right: 0;
//             bottom: 0
//         }
//         &::before {
//             transition-delay: 0s;
//             left: 0;
//             top: 0;
//         }

//         &:hover {
//             span::after {
//                 transition-delay: 0.2s;
//             }
//             span::before {
//                 transition-delay: 0.6s;
//             }
//         }
//     }
// }
  
  /*----- button 3 -----*/
  .btn-3::after{
    left: 0;
    bottom: 0;
    transition-delay: 0.6s;
  }
  .btn-3 span::after{
    transition-delay: 0.4s;
    right: 0;
    bottom: 0
  }
  .btn-3::before{
    right: 0;
    top: 0;
    transition-delay: 0.2s;
  }
  .btn-3 span::before{
    transition-delay: 0s;
    left: 0;
    top: 0;
  }
  
  .btn-3:hover::after{
    transition-delay: 0s;
  }
  .btn-3:hover span::after{
    transition-delay: 0.2s;
  }
  .btn-3:hover::before{
    transition-delay: 0.4s;
  }
  .btn-3:hover span::before{
    transition-delay: 0.6s;
  }
/* Secondary Button*/

.stroke-light-pink h1 {
    -webkit-text-stroke: 1px #FEF5F6;
}